{% extends 'base.html' %}
{% load static %}


<!-- {% block title %} | Weolcome {% endblock %} -->

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .final-margin{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
  }


  .form-border {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  background-color: rgba(224, 224, 224, 0.1);
  border: solid rgba(188, 188, 188, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 .25em 1em rgba(170, 170, 170, 0.1), inset 0 .125em .5em rgba(170, 170, 170, .15);
  border-radius: 0.5em;
  }  
 

</style>

<form method="POST" class="form-inline">
 
  {% csrf_token %}
  {{ancora_formset.management_form}}

  {% for form_ancora in ancora_formset %}

  <div class="ancora_form">
    <div class="form-border">

      <div class="row">

        <div class="col-sm-6">
          <label for="id_form-0-name" class="form-label">Nome do Ancora</label>
           {{form_ancora.name}} 
        </div>

        <div class="col-sm-4">
          <label for="id_form-0-cpf_cnpj" class="form-label">CPF/CNPJ</label> 
          {{form_ancora.cpf_cnpj}}
        </div> 

      </div>

  {% endfor %}    

    </div>
  </div>

  <div id="add-form-div" class="row align-items-center final-margin">

    <div class="col-sm-6">
      <button id="add-form" class="btn btn-success" type="button">Add Another</button>
      <button type="submit" class="btn btn-primary">Enviar</button> 
    </div>

  </div>

</form>

<div class="b-example-divider"></div>


<script type="text/javascript">

//Copy main form and replicate when user clicks on 'Add Another' button
let ancoraForm = document.querySelectorAll(".ancora_form")
let addButton = document.querySelector("#add-form")
let addButtonDiv = document.querySelector("#add-form-div")

let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

let formNum = ancoraForm.length-1 
addButton.addEventListener('click', addForm)

function addForm(e) {
    e.preventDefault()

    let newForm = ancoraForm[0].cloneNode(true) //Clone the produtor form
    let formRegex = RegExp(`form-(\\d){1}-`,'g','g') //Regex to find all instances of the form number

    formNum++ //Increment the form number
    newForm.innerHTML = newForm.innerHTML.replace(formRegex,  `form-${formNum}-`) //Update the new form to have the correct form number
    //container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms
    addButtonDiv.parentNode.insertBefore(newForm, addButtonDiv)

    totalForms.setAttribute('value', `${formNum+1}`) //Increment the number of total forms in the management form
}

$(".validador-doc").keydown(function(){
    try {
        $(".validador-doc").unmask();
    } catch (e) {}

    var tamanho = $(".validador-doc").val().length;

    if(tamanho < 11){
        $(".validador-doc").mask("999.999.999-99");
    } else {
        $(".validador-doc").mask("99.999.999/9999-99");
    }

    // ajustando foco
    var elem = this;
    setTimeout(function(){
        // mudo a posição do seletor
        elem.selectionStart = elem.selectionEnd = 10000;
    }, 0);
    // reaplico o valor para mudar o foco
    var currentValue = $(this).val();
    $(this).val('');
    $(this).val(currentValue);
    }
);
</script>

{% endblock %}


